.container{
  background-color:#263343;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
}
i{
  color: white;
  font-size: 20px;
}
a{
  align-items: center;
  color: white;
  text-decoration-line: none;
}
li{
  margin-left: 20px;
}
.menuBar1{
  display: flex;
  list-style: none;
  font-size: 20px;
  padding: 8px 12px;
}
.menuBar1 > li >a{
  font-weight: bold;
}
.menuBar2{
  display: flex;
  list-style: none;
  font-size: 15px;
}
.menuBar2 > li{
  margin-left: 40px;
  padding: 8px 12px;
}
.menuBar2 > li:nth-child(1) {
  margin-left: 0px;
}
.menuBar3{
  display: flex;
  list-style: none;
}
.menuBarIconBox{
  display: none;
  position: absolute;
  right: 35px;
}
.menuBar2 li:hover{
  background: coral;
}
@media (max-width: 800px){
  .container{
    background-color:#263343;
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: start;
  }
  .menuBar1{
    display: flex;
    list-style: none;
    font-size: 20px;
    padding: 8px 12px;
  }
  .menuBar2{
    display: none;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-size: 15px;
  }
  .menuBar2 > li{
    width: 90vw;
    margin-top: 15px;
    margin-left: 0px;
    text-align: center;
  }
  .menuBar3{
    display: none;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    width: 100%;
  }
  .menuBar3 > li{
    margin-top: 15px;
    margin-left: 10px;
  }
  .menuBarIconBox{
    display: inline-block;
    position: absolute;
    right: 35px;
  }
  .menuBarIconBox > i{
    color: coral;
  }
  .menuBarShow{
    display: flex;
  }

}